<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>mdblinks}}
    <title>Signup</title>
</head>
<body>

    <form action="/signup" method="post">
    <section class="vh-160" style="background-color: #279de2;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4"> Create Account </h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Username</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input name="username" type="text" class="form-control form-control-lg" placeholder="Write your name" />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Email address</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input name="email" type="email" class="form-control form-control-lg" placeholder="example@example.com" />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Mobile Number</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input name="number" type="number" class="form-control form-control-lg" placeholder="Write your number" />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Password</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input name="password" type="password" class="form-control form-control-lg" placeholder="Enter your security password" />
                <div class="small text-muted mt-2"> Write a password that must contain a numeric, text and symbollic value... </div>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Confirm Password</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input name="confirmpassword" type="password" class="form-control form-control-lg" placeholder="Confirm your password" />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="px-5 py-4">
              <button style="background-color: #279de2;" type="submit" class="btn btn-primary btn-lg">Send application</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
    </form>



</body>
</html>